services:
  newsnow:
    build:
      context: .
      args:
        NODE_IMAGE: ${NODE_IMAGE:-node:20-bullseye}
    restart: unless-stopped
    ports:
      - '4444:4444'
    volumes:
      - newsnow_data:/usr/app/.data
    env_file:
      - .env.server

volumes:
  newsnow_data:
    name: newsnow_data
